body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.universe {
  overflow: hidden;
}

pre#game-of-life-text {
  transform: scale(0.5);
  transform-origin: left top;
}
